@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

a {
  color: #000000;
  text-decoration: none;
}

#wrap--header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #fff;
  box-shadow: 0px 2px 5px 2px rgba(42, 29, 20, 0.2);
  transition: 500ms ease box-shadow;
}

.wrap--header__annouce {
  margin: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.wrap--header__header{
  display: table-cell;
  width: 100%;
}
.header-flex {
  display: flex;
  margin: 10px 200px;
  justify-content: space-around;
  align-items: center;
}

.header__header--left {
  width: 15%;
}

.header__header--left img {
  width: 90%;
}

.header__header--right {
  padding-right: 100px;
}

.header__header--right ul {
  display: flex;
}

#nav > li > a {
  text-decoration: none;
  padding: 10px;
  color: black;
}


#nav > li {
  list-style: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

#nav li a {
  position: relative;
}

.navbar{
  display: none;
  width: 24px;
}

.static-screen{
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.cart {
  width: 24px;
  position: relative;
  cursor: pointer;
}

.cart::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 3px;
  width: 30px;
  transform: scaleX(0);
  background: black;
  bottom: -15px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cart:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  width: 25px;
}

#nav li a::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 3px;
  width: 100%;
  transform: scaleX(0);
  background: black;
  bottom: -15px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#nav > li > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  width: 100%;
}

#container {
  margin: 115px 200px;
}

.img--wrapper{
  display: flex; 
  padding: 0 100px; 
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  /* max-width: 1100px; */
}

.grid-container > div {
  text-align: center;
}

.item2{
  margin-top: 150px; 
  padding-left: 30px
}
.item3{
  margin-top: 150px; 
  padding-right: 30px;
}
.item6{
  margin-top: 70px; 
  padding-left: 30px;
}

p,
span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text-center {
  position: relative;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.text-center::after {
  background: #f3a08b;
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  bottom: -10px;
  border-radius: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.testimoials {
  margin-top: 60px;
}

.grid-product {
  display: flex;
  /* max-width: 1100px; */
  height: 630px;
  margin-top: 50px;
  padding: 25px 15px 0 15px;
}

.borderLeft::before {
  background: #f3a08b;
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 80%;
  bottom: 0;
  top: 50%;
  transform: translateY(-48%);
  border-radius: 5px;
}

.slideshow-container{
  width: 50%;
  position: relative;
}

.detail-product {
  width: 50%;
  padding-left: 30px;
  padding-right: 10px;
  overflow: scroll;
}

.productItem__title{
  color: #000000; 
  font-size: 28px; 
  font-family: 'Poppins', sans-serif;
}

.detail-product::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.help-detail {
  background-color: #f9ece3;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.b-sh {
  box-shadow: 0px 2px 5px 2px rgba(42, 29, 20, 0.2);
  transition: 500ms ease box-shadow;
}

.b-sh:hover {
  box-shadow: 0px 2px 10px 2px rgba(19, 6, 201, 0.1);
}

.button-option {
  position: absolute;
  z-index: -1000;
  left: 50%;
  bottom: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.btn-addQuantity {
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease all;
  cursor: pointer;
  background-color: #efefef;
}

.btn-addQuantity:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-AddToCart {
  width: 100%;
  border: 0px solid #f3a08b;
  color: #000000;
  font-size: 20px;
  padding: 10px 15px;
  background-color: #f3a08b;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button-label {
  min-width: 55px;
  width: auto;
  max-width: none;
  display: inline-block !important;
  line-height: normal;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 4px 4px 0;
  padding: 8px 12px;
  background: white;
  color: black;
  outline: none;
  text-align: center;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  user-select: none;
}

.nav-product {
  /* display: flex; */
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  /* opacity: 0;
    visibility: hidden; */
  position: absolute;
  top: 100px;
  margin: 0 200px;
  left: 0;
  right: 0;
  padding: 30px;
  transition: 0.25s ease all;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 999;
}

.navProduct:hover .nav-product {
  display: flex;
  /* visibility: visible; */
  /* opacity: 1; */
}

.subnav {
  padding-right: 20px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.sub {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
  color: black;
}

.layout-reviews {
  display: flex;
  justify-content: space-between;
}

.layout-reviews__left{
  display: flex;
}

.reviews{
  padding: 48px 15px;
}

.reviews-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}


.toggle {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid rgb(202, 140, 25);
  justify-content: space-between;
  cursor: pointer;
}

.toggle::after {
  transition: all 200ms ease;
  color: #f3a08b;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "+";
  font-size: 18px;
  font-weight: 700;
}

/* .toggle.active::after{
  transform: translateY(-50%) rotate(45deg);
  transform-origin: 50% 50%;
} */

.grid-recommend {
  width: 100%;
  display: flex;
}

.wrapper-item-recommend{
  width: 25%;
  padding: 10px;
}

.header-recommend{
  padding-left: 15px; 
  font-size: 28px; 
  font-weight: 300; 
  font-family: 'Poppins', 'sans-serif';
}

.wrap-img {
  position: relative;
}

.sale-tag {
  font-size: 14px;
  font-weight: bolder;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 8px;
  border-radius: 5px;
}

.recommend-price {
  font-size: 14px;
}

.price-on-sale {
  font-weight: bolder;
}

.wrapper-img {
  position: relative;
}

.img-hover,
.img-change {
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: all 1s;
}

.img-change {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.wrap-img:hover .img-change {
  opacity: 1;
}

input,
textarea {
  width: 100%;
}

.input-textarea {
  position: relative;
}

.input-text,
.input-textarea {
  width: 100% !important;
  max-width: 100% !important;
  border: 1px solid #adadad;
  border-radius: 2px;
  outline: none;
  padding: 11px;
  font-size: 14px;
  color: #39332e;
  box-sizing: border-box;
}

.label-title {
  font-family: "Inter", sans-serif;
  font-weight: 550;
  margin-bottom: 8px;
  font-size: 14px;
  color: #1f1f1f;
  display: block;
  text-transform: capitalize;
}

.star-item {
  font-size: 25px;
}

.btn-rev {
  font-family: "Inter", sans-serif;
  background-color: #1f1f1f;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.cancel{
  margin-left: 3px;
  background-color: #ffffff; 
  color: #000000; 
  border: 1px solid #000000;
}

.btn-rev:hover {
  opacity: 0.6;
}

#footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: black;
}

.footer__right-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer__right--item > ul > li > a {
  color: #ffffff;
}

.site-footer__linklist > li > a {
  color: #ffffff;
}

.button-label:hover {
  border: 1px solid #000000;
}

.button-option:checked + .button-label {
  background: #000000;
  color: #fff;
}

.tab-bar {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 3px 7px;
}

.tab-bar:not(:last-child) {
  margin-right: 15px;
}

/* .slider {
  position: relative;
} */


.main-img {
  width: 100%;
  border-radius: 3px;
  position: relative;
}

.slides {
  display: flex;
  overflow: hidden;
}

.slides img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  outline: none;
  width: 30px;
  height: 30px;
  background: #efefef;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button.prev,
button.next {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}
button.prev {
  left: 10px;
}
button.next {
  right: 10px;
}

.slider-container {
  text-align: center;
}

.thumbnails .thumbnail-item {
    width: 66px;
    opacity: 0.4;
    border-radius: 3px;
    transition: all 0.25s ease-out;
    cursor: pointer;
}

/* Highlight the currently displayed thumbnail */
.thumbnails .thumbnail-item.active {
  opacity: 1;
}

.opa {
    width: 66px !important;
    opacity: 1 !important;
    border: 1px solid #a0a0a0;
}

.wrap-item{
  position: relative;
  display: inline-block; 
  line-height: 0;
}


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#yourCart{
    /* position: absolute; */
    /* display: none; */
    /* width: 450px; */
    height: 100vh;
    position: fixed;
    background-color: #fff;
    color: black;
    z-index: 9999;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: transform linear 0.2s;
}

.btn-close{
  color: #666;
  position: absolute;
  top: 1 rem;
  right: 1rem;
  width: 18px;
  height: 18px;
}

.cart-open:checked ~ .static-screen{
  display: block;
}

.cart-open:checked ~ #yourCart{
  transform: translateX(0%);
}

.cart-text{
    border: none;
    /* margin: 0 !important; */
    /* padding: 0 !important; */
    padding-left: 150px;
    font-size: 14px !important;
    line-height: 30px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    text-align: center !important;
    color: #000000 !important;
}

.cart-text::after{
    content: '(0)';
}

.cart-close{
    display: flex;
}

.cart-header{
    background: #ffffff;
    border-bottom:  1px solid #e5e5e5;
    flex: 0 0 auto;
    margin: 0;
    padding: 10px 20px;
    position: relative;
}

.text-freeship{
    color: #000000;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px !important;
    line-height: 14px !important;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    text-transform: none;
}

.discount-freeship{
    align-self: stretch;
    padding: 0px 20px;
    border-bottom: 1px solid #e5e5e5;
    background: #ffffff;
}

.empty-cart{
    margin: 0;
    padding: 0px 20px;
    text-align: center;
    width: 100%;
}

.empty-cart-title{
    display: block;
    color: #000000 !important;
    font-weight: 700 !important;
    font-size: 18px !important;
}

.empty-cart-title:first-child{
    padding-top: 20px;
    padding-bottom: 10px;
}

.empty-cart-subtitle{
    color: #000000 !important;
    font-weight: 300 !important;
    font-size: 16px !important;
}

.empty-cart-subtitle:last-child{
    padding-bottom: 20px;
}

.content-cart-empty{
    background: #000000;
    color: #ffffff;
    padding: 15px 20px;
}

.title-bought{
    display: block;
    color: #ffffff !important;
    font-size: 16px !important;
    text-align: center;
    line-height: 18px !important;
    font-weight: bold !important;
    font-family: 'Poppins';
}

.product-cart{
    display: grid;
    grid-template-columns: auto;
    /* grid-gap: 20px; */
    padding: 0 20px;
}

.product-img{
    width: 90px;
}

.product-cart-item{
    display: flex;
    padding: 15px 0;
    border-top: 1px solid #cccccc;
}

.wrap-product-title{
    padding-left: 15px;
    line-height: 1.6;
}

.product-title{
    color: #000000;
    margin-bottom: 10px;
}

.content-sell{
    display: flex;
    align-items: center;
}

.btn-add{
    width: 150px;
    background: #000000 !important;
    color: #ffffff !important;
    cursor: pointer;
    border: none;
    font-weight: 600 !important;
    font-size: 14px !important;
    position: relative;
    line-height: 14px !important;
    height: 35px !important;

}

.menu-mobile{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  /* height: 100vh; */
  z-index: 9999;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform linear 0.2s;
}

.text{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.menu-container>ul>li{
  list-style: none;
  padding: 15px 0;
}

.btn-close-menu{
  color: #666;
  position: absolute;
  top: 1.4rem;
  right: 1.6rem;
  width: 18px;
  height: 18px;
}

.overlay{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(248,248,248,0.3) 0%, rgba(217,217,217,0.3) 100%);
  backdrop-filter: blur(15px);
  z-index: 999;
  opacity: 1;
  visibility: visible;
  transition: ease 0.25s;
}

.menu-open:checked ~ .overlay{
  display: block;
}

.menu-open:checked ~ .menu-mobile{
  transform: translateX(0%);
}

.input-group-btn{
  width: 10%;
  margin-left: 40px;
}

.footer__right--item{
  color: #ffffff;
  width: 33.3%;
  padding-left: 30px;
}

.under-footer{
  display: flex; 
  justify-content:space-between; 
  align-items: center; 
  opacity: .7;
}

.payment-icons{
  list-style: none; 
  display: inline-table; 
  margin-top: 7px;
  text-align: right;
}

.under-footer li {
  display: inline-table;
}

.footer__right{
  display: flex;
  width: 60%;
  justify-content: flex-end;
}

.footer__left{
  width: 40%;
}

.site-footer{
  padding: 30px;
}

.social-icons-footer{
  display: flex; 
  list-style: none; 
  justify-content: flex-end; 
  font-size: 25px; 
  align-items: center;
}

.site-footer__wrap{
  width: 50%;
  text-align: center;
}

.nav-info,
.nav-menu{
  list-style: none;
}

.text-guarantee{
  text-align: center; 
  font-weight: bolder;
  padding: 0 100px;
}

.site-width{
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 15px; 
  padding-right: 15px
}

.check-out{
  width: 100%; 
  position: absolute;
  background-color: #fff;
  z-index: 1; 
  right: 0; 
  bottom: 0;
  transform: translateY(100%);
  transition: transform linear 0.3s;
}

#sub-cart:checked ~ .check-out{
  transform: translateY(0);
  transition: transform linear 0.3s;
}

.sub-cart-overlay{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header-faq{
  margin-bottom: 20px; 
  font-size: 28px; 
  font-weight: 400;
}

#sub-cart:checked ~ .sub-cart-overlay{
  display: block;
}

/* RWD */

/* Mobile & Tablet: width < 1024px */
@media only screen and (max-width:  63.9375em){
  .navbar{
    display: block;
  }

  .header__header--right{
    display: none;
  }

  .wrap--header__header{
    margin: 0 40px;
    justify-content: space-between;
  }

  .header__header--left, .header--right--mobile{
    width: 50%;
  }

  .header__header--left img {
    width: 35%;
  }

  .header--right--mobile{
    justify-content: flex-end;
  }

  .header-flex {
    margin: 0;
    padding: 0 30px;
  }

  .grid-container{
    padding: 0 20px;
  }

  .item2,.item3,.item6{
    margin-top: 30px;
    padding: 0;
  }

  .grid-recommend{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .wrapper-item-recommend{
    width: 100%;
  }

  button.prev, 
  button.next {
    top: 35%;
  }

  /* .header-faq,
  .header-recommend,
  .productItem__title,
  .text-center {
    font-size: 24px;
  } */

  /* .cart-productItem{
    font-size: 13px;
  } */
}

/* Mobile: width < 740px */
/* 46.1875em = 739px */
@media only screen and (max-width: 46.1875em) {
  #container{
    margin: 100px 0 0 0;
  }

  .header__header--left img {
    width: 60%;
  }

  .img--wrapper{
    padding: 0 15px 10px;
  }

  .imgVogue{
    width: 100%;
  }

  .grid-container{
    display: block;
  }

  .grid-product {
    display: block;
    height: auto;
  }

  .slideshow-container{
    width: 100%;
  }

  .thumbnails .thumbnail-item {
    width: 63px;
  }

  .detail-product {
    width: 100%;
    padding: 10px 0;
  }

  .layout-reviews__left{
    display: block;
  }

  .reviews-text{
    padding: 20px 0;
  }

  .btn-rev{
    width: 100%;
  }
  .cancel{
    margin: 10px 0;
  }

  .grid-recommend{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .content-footer{
    flex-direction: column-reverse;
  }
  
  .footer__right{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .footer__right--item {
    width: 100%;
    padding: 0;
  }
  
  .footer__right-title {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }

  .footer__right-title::after{
    content: '+';
    float: right;
    padding-right: 10px;
  }

  .footer__left{
    width: 100%;
  }

  .site-footer{
    padding: 50px 0;
  }

  .footer__logo{
    margin-top: 10px;
  }
  
  .under-footer {
    flex-direction: column;
  }

  .nav-info,
  .nav-menu{
    display: none;
  }

  .social-icons-footer{
    justify-content: center;
  }

  .site-footer__wrap{
    width: 100%;
    text-align: start;
  }

  .site-footer__linklist{
    display: flex;
    flex-direction: column;
  }

  .under-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }

  .text-guarantee{
    padding: 0;
  }

  .cart-productItem{
    font-size: 14px;
  }

  #nav-info:checked ~ .nav-info{
    display: block;
  }

  #nav-menu:checked ~ .nav-menu{
    display: block;
    transition: all linear 0.5s;
  }

  .site-width{
    max-width: 100%;
  }

  .header-faq,
  .header-recommend,
  .productItem__title,
  .text-center {
    font-size: 22px;
  }
  
}

/* Tablet: width >= 740px and width < 1024px */
/* 46.25em = 740px and 63.9375em = 1023px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

  #container{
    margin: 80px 0 0 0 ;
    padding: 0;
  }

  .input-group-btn{
    margin: 0;
  }

  .header-faq,
  .header-recommend,
  .productItem__title,
  .text-center {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1110px){
  
  .header-flex {
    margin: 10px 100px;
  }
  
  #container{
    margin: 115px 100px;
  }

  .item2,.item3,.item6{
    margin-top: 50px;
  }

  .header-faq,
  .header-recommend,
  .productItem__title,
  .text-center {
    font-size: 24px;
  }
}